body{
    background-color: rgb(43, 207, 18);
    color:rgb(59, 39, 110);
    font-family: "Playfair Display", serif;
    margin: 10px;
}

header{
    border-bottom: solid 10px rgb(239, 4, 4);
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 0, 170);
}

 h1{
    font-size: 32px;
 }

 p{
    font-size: 20px;
 }

 section {
    background-color: rgb(239, 0, 128);
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
 }

 .chamada-texto{
    margih: 10%;
 }